.myprojs-body{
    margin-top: -2rem;
}

.myprojs-container{
    display: flex;
    flex-direction: column;
    padding: 4.5rem;
    gap: 2rem;
    background-color: #F5F5F7;
}

.myprojs-grid-item {
    padding: 2rem 2.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    height: fit-content;
    width: 100%;
    min-width: 15.8rem;
}

.myprojs-title{
    margin-bottom: 4rem;
}

.myprojs-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
}

.nav-active{
    margin-right: 1.5rem;
    font-weight: 390;
}

.nav-closed{
    margin-right: 1.5rem;
    font-weight: 390;
}

.nav-liked{
    font-weight: 390;
}

.myprojs-navfilter{
    margin-left: auto;
}

.nav-filter{
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-weight: 390;
    font-size: 0.9rem;
}

.myprojstitle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    font-weight: 350;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
}

.myprojstitle-grid-1{
    width : 12%;
    text-align: center;
}

.myprojstitle-grid-2{
    width: 20%;
    text-align: center;
}

.myprojstitle-grid-3{
    width: 20%;
    text-align: center;
}

.myprojstitle-grid-4{
    width: 9%;
    text-align: center;
}

.myprojstitle-grid-5{
    width: 20%;
    text-align: center;
}

.userimg{
    height: 2.7rem;
    width: 2.7rem;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}

.myprojsresult-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.8rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    font-weight: 350;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0.9rem;
    height: fit-content;
}

.myprojsresult-grid-1{
    width : 12%;
    color:#0066CC;
    text-align: center;
    font-weight: 400;
}

.myprojsresult-grid-2{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.myprojsresult-grid-3{
    width: 20%;
    text-align: center;
}

.myprojsresult-grid-4{
    width: 9%;
    text-align: center;
}

.myprojsresult-grid-5{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.myprojs-userlistskillstag{
    margin-right: 0.4rem;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 1rem;
    background-color: #CE095F;
    color: white;
    padding: 0.15rem 0.45rem;
    margin: 0.2rem;
}